
  /**************PERRO REGISTRO**************/
  .perroCafe{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: all 1s;
   } .pataizqcafe{
    width: 50px;
    height: 50px;
    position: absolute;
    left:20%;
    top: 32%;
   } .patadercafe{
    width: 50px;
    height: 50px;
    position: absolute;
    right:20%;
    top: 32%;
   }
  .f8c8a754-024c-48e6-a307-f0b5f94950ec {
    fill: #850000;
  }

  .aa9fadff-6c42-4c8a-8ffd-e5dd4541c2a3, .b9fb9ab9-3e32-4ffe-987d-751f1bd94eae {
    fill: #d37e0d;
  }

  .b69d443c-629b-4cb0-8823-a0fc89ce7025 {
    fill: #f54e4e;
    stroke: #430000;
  }

  .b69d443c-629b-4cb0-8823-a0fc89ce7025, .b9fb9ab9-3e32-4ffe-987d-751f1bd94eae {
    stroke-miterlimit: 10;
  }

  .abf14846-1117-48de-a6fe-1d3185bb4afe {
    fill: #430000;
  }

  .a4daab3c-87e1-45f7-bb4d-8e4d911065f0 {
    fill: #b24f0b;
  }

  .b0e53069-f710-4f29-a46b-d553c1204ca3 {
    fill: #581602;
  }

  .f98f8ea2-634b-4607-922a-ce71a601f344 {
    fill: #fdfdfd;
  }

  .ae09e233-250f-4592-bb21-c255adf172b5 {
    fill: #005896;
  }

  .b9fb9ab9-3e32-4ffe-987d-751f1bd94eae {
    stroke: #703309;
  }

  /***PATAS***/

  .fe31ca41-5041-4f5d-a4d4-52e2f7bc1af5 {
    fill: #b24f0b;
    stroke: #050101;
    stroke-miterlimit: 10;
  }

  .a413a9ec-adcf-49e7-81db-336a767020f3 {
    fill: #b24f0b;
    stroke: #050101;
    stroke-miterlimit: 10;
  }


  .ba4f95bf-96d6-4bf1-8e65-ecdbda4d67a8 {
    fill: #850000;
  }

  .aab66632-0ea5-4c7f-975d-146367b000ec, .b251e84a-fd56-4eee-8666-85cfbbf4b95c {
    fill: #d37e0d;
  }

  .babaf687-f62f-4fbb-b171-e247f0cf6351 {
    fill: #f54e4e;
    stroke: #430000;
  }

  .aab66632-0ea5-4c7f-975d-146367b000ec, .babaf687-f62f-4fbb-b171-e247f0cf6351 {
    stroke-miterlimit: 10;
  }

  .aa476121-75ae-4141-a277-9f2627038cee {
    fill: #430000;
  }

  .bb5cdea6-66d1-4106-8097-92151a0c54fd {
    fill: #b24f0b;
  }

  .b84011ea-5007-4549-abb7-98d7daebd3bd {
    fill: #581602;
  }

  .af531392-bc62-4b5e-b25d-3b1c1fb04715 {
    fill: #fdfdfd;
  }

  .ba095b0a-367e-4622-a1b3-524885ec8fb5 {
    fill: #005896;
  }

  .aab66632-0ea5-4c7f-975d-146367b000ec {
    stroke: #703309;
  }



/**************CLASES JAVASCRIPT REGISTRO************************************/

.cara-reg-rotate{
   transition: all 1s;
  transform: rotate(-30deg);
} 

.lengua-Reg{
 transition: all 1s;

} .lengua-escalaReg{
  transform: translateX(10px) translateY(80px) scaleY(0.5);
  position: absolute;
}

.pataizq-Reg{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20%;
  top: 33%;
  transition: all 1s;
}

.patader-Reg{
  width: 50px;
  height: 50px;
  position: absolute;
  right:20%;
  top: 33%;
  transition: all 1s;
}
.pataizq-escalaReg{
transform: scaleY(0.9);
} 

.patader-escalaReg{
  transform: scaleY(0.9);
}

.movPatasReg{
  transform: translateY(-15px);
} .tapOjoIzqReg{
  transform: translateY(-130px) translateX(50px) rotate(-70deg);
} .tapOjoDerReg{
  transform: translateY(-130px) translateX(-50px) rotate(70deg);
}
.ojosReg{
  transition: all 1s;
}
.movOjosReg{
  transform: translateY(20px);
  transition: all 1s;
} 
.parpados-Reg{
  display: none;
  transition: all 1s;
} .parpados-activos-Reg{
  display: block;
  transition: all 1s;
}
.movParpadosReg{
  transform: translateY(20px);
  transition: all 1s;
}


@media only screen and (max-width:1800px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 30%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:30%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(40px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-40px) rotate(70deg);
      }
}


@media only screen and (max-width:1700px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 30%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:30%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(35px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-35px) rotate(70deg);
      }
}


@media only screen and (max-width:1600px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 30%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:30%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:1500px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 28%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:28%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:1350px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 25%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:25%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:1305px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 30%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:30%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:1251px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 32%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:32%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:1100px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 30%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:30%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:1020px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 28%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:28%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:905px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 28%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:28%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:900px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 30%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:30%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:730px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 28%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:28%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:660px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 27%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:27%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:655px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 30%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:30%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:615px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 28%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:28%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:560px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 27%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:27%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:525px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 25%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:25%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:505px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 30%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:30%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}



@media only screen and (max-width:450px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 26%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:26%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:400px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 27%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:27%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:355px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 25%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:25%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:330px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 24%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:24%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:270px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 20%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:20%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:240px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 18%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:18%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:217px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 16%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:16%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}


@media only screen and (max-width:210px){

    .pataizq-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 14%;
        top: 33%;
        transition: all 1s;
      }
      
      .patader-Reg{
        width: 50px;
        height: 50px;
        position: absolute;
        right:14%;
        top: 33%;
        transition: all 1s;
      }

      .tapOjoIzqReg{
        transform: translateY(-130px) translateX(30px) rotate(-70deg);
      } .tapOjoDerReg{
        transform: translateY(-130px) translateX(-30px) rotate(70deg);
      }
}